
<body>
<article id="">
  <div class="play1">
    <p>Joueur 1</p>
  </div>
  <div id="game">
      Veuillez activer javascript pour jouer.
  </div>

  <div class="play2">
    <p>Joueur 2</p>
  </div>
</article>
</body>
