
<body>
<div id="newpart">
  <p>Nouvelle partie ?</p>
  <p id="ok" onclick="newpart()">OK</p>
</div>
<article id="">
    <h1 id="counter">Nombre de tours : 0</h1>
    <h1 id="win">Partie en cours...</h1>
  <div id="table">
    <div class="play play1">
      <p id="j1" style="color:#c92626;">Joueur 1</p>
      <table class="jeton">
        <tr>
          <td style="background: #BF49BB; border: 2px solid #7B2F78;" onclick="purple1()"></td>
          <td style="background: #f2eb30; border: 2px solid #d8d22b;" onclick="yellow1()"></td>
          <td style="background: #F88C36; border: 2px solid #985A28;" onclick="orange1()"></td>
        </tr>
        </tr>
          <td style="background: #8BDD32; border: 2px solid #4E7621;" onclick="green1()"></td>
          <td style="background: #4298EC; border: 2px solid #2B5986;" onclick="blue1()"></td>
          <td style="background: #c92626; border: 2px solid #961f1f;" onclick="red1()"></td>
        </tr>
      </table>
    </div>
    <div id="game">
        Veuillez activer javascript pour jouer.
    </div>

    <div class="play play2">
      <p id="j2" style="color:#f2eb30;">Joueur 2</p>
      <table class="jeton">
        <tr>
          <td style="background: #BF49BB; border: 2px solid #7B2F78;" onclick="purple2()"></td>
          <td style="background: #f2eb30; border: 2px solid #d8d22b;" onclick="yellow2()"></td>
          <td style="background: #F88C36; border: 2px solid #985A28;" onclick="orange2()"></td>
        </tr>
        </tr>
          <td style="background: #8BDD32; border: 2px solid #4E7621;" onclick="green2()"></td>
          <td style="background: #4298EC; border: 2px solid #2B5986;" onclick="blue2()"></td>
          <td style="background: #c92626; border: 2px solid #961f1f;" onclick="red2()"></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <br>
  {{# if user}}
      <p id='save' class="validate">Enregistrez votre partie</p>
  {{/if}}
</article>
<script src="js/win.js"></script>
<script src="js/play.js"></script>
<script src="js/newpart.js"></script>
<script src="js/tabplein.js"></script>
<script src="js/handleClick.js"></script>
<script src="js/reset.js"></script>
<script src="js/set.js"></script>
<script src="js/Puissance4.js"></script>
<script src="js/constructorSave.js"></script>
<script src="js/render.js"></script>
<script src="js/anime.js"></script>
<script src="js/mainSave.js"></script>
<script src="js/colorX.js"></script>
<script src="js/showCounter.js"></script>
<script src="/js/save.js"></script>
</body>
