#game table {
  border: solid 1px #4683AB;
  background-color: #5eb4ed;
  cursor: pointer;
  box-shadow: -10px 10px 7px #226C9D;
}
#game td {
  height: 70px;
  width: 70px;
  border: solid 1px #4683AB;
  border-radius: 100%;
  background-color: #99D1F6;
  box-shadow: inset -3px -3px 3px #8CBDDE;

}
#game td.player1 {
  background-color: #c92626;
  box-shadow: inset -3px -3px 3px #961f1f;
}
#game td.player2 {
  background-color:#f2eb30;
  box-shadow: inset -3px -3px 3px #d8d22b;
}

.play1{
  margin : 30px;
  color : #c92626;

}

.play2{
  margin : 30px;
  color : #f2eb30;
}

.play{
  font-family: 'berkshire';
  background-color: #99D1F6;
  padding: 20px;
  border : solid 1px #4683AB;
  border-radius: 1em;
}
